body{
   background-image: url('../assets/newroom.png') ;
   background-size: cover;
   background-position: center;
   font-family: 'lucida bright';
   padding: 0;
   margin: 0;
}

.top{
    background-color: rgba(109, 18, 63, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.img1{
    width: 45px;
    height: 45px;
    border: #6d123f solid 0.2px;
    border-radius: 25px;
    padding-top: 0%;
    padding-bottom: 0%;
}

h1{
    margin-right: auto;
    color: #fff;
    text-align: center;
}

h2{
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

.tpl{
    margin-left: 20px;
    color: #f1eded;
    text-decoration: none;
}

.signup{
    background-color: rgba(109, 18, 63, 0.9);
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    width: 900px;
    height: 700px;
    padding-left: 20px;
    margin-left: 20px;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    color: #fff;
    margin-bottom: 40px;
}

.pref{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    color: #fff;
    margin-bottom: 40px;
}

.day{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-bottom: 200px;
}

.links{
    display: flex;
    background-color: rgba(109, 18, 63, 0.9);
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    width: 880px;
    height: 200px;
    padding-left: 40px;
    margin-top: 100px;
    color: #fff;
    margin-left: 20px;
}



