body {
    background-color: bisque;
    font-family: 'lucida bright';
}

.slide {
    display: flex;
    align-content: left;
    justify-content: space-between;
    padding-top: 60px;
}

a{
    color: #6D124F;
    text-decoration: none;
}

a:hover{
    color: #6D124F;
    font-size: 18px;
}


hr{
    width: 1000px;
    color: whitesmoke;
    padding-right: 20px;
    margin-top: 30px;
}

h1{
    font-size: 15px;
    color: #6D123F;
    padding-left: 175px;
}

.sld{
    padding-right: 10px;
}

.sldo{
    padding-right: 500px;
}

.slo{
    width: 40px;
    height: 40px;
    border: #6D123F solid 0.3px;
    border-radius: 25px;
    margin-top: 10px;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 60px;
}

.product1{
    height: 400px;
    width: 400px;
    border: #6D124F solid 0.5px;
    border-radius: 10px;
}

.imagetext {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20px;
    width: 700px;
}

.fbm{
    color:#6D124F ; 
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 20px;
}

.sign{
    display: flex;
    flex-direction: row;
    width: 150px;
    padding-left: 30px;
    background-color: palevioletred;
}

.ss{
    padding-right: 30px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.cart{
    margin-left: 120px;
    padding: 20px;
    width: 150px;
    background-color: palevioletred;
}

.links{
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    width: 1050px;
    height: 200px;
    padding-left: 20px;
}

.links.self{
    padding-left: 40px;
}